
{% load static %}

<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark danger-color">
  <!-- Navbar brand -->
  <div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'img/logo.png' %}" height="30" class="d-inline-block align-top"
      alt="crypto news"> 
  </a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li 
        {% if 'blog' in request.path %}
          class="nav-item active mr-3"
        {% else %}
         class="nav-item  mr-3"
        {% endif %}>
        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
      </li>
      <li 
      {% if 'about' in request.path %}
        class="nav-item active mr-3"
      {% else %}
          class="nav-item  mr-3"
      {% endif %}>
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
    
    </ul>
    <!-- Links -->
    <form class="form-inline" method="POST" action="{% url 'search' %}">
      {% csrf_token %}
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" name="quote" placeholder="Search Crypto Symbol" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</div>
</nav>
<!--/.Navbar-->


