{% extends 'base.html' %}

{% block title %} | Blog {% endblock %}

{% block content %}

        <section class="my-5 pr-5 pl-5">
            {% for x in api.Data  %}
    <!-- Grid row -->
        <div class="row">
         
        <!-- Grid column -->
        <div class="col-lg-5 col-xl-4">
    
            <!-- Featured image -->
            <div class="view overlay rounded view-cascade card card-cascade wider mb-4">
                <img class="img-fluid" src="{{ x.imageurl }}" alt="{{ x.source }}">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-7 col-xl-8">
    
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3 "><strong> {{ x.title }}</strong></h3>
            <!-- Excerpt -->
            <p class="dark-grey-text text-justify"> {{ x.body }} <a href="{{ x.url }}"><strong> {...} </strong></a> </p>
            
            
            <!-- Post data -->
            <p>source: <a class="font-weight-bold"> {{ x.source_info.name }}</a></p>
            <p>language: <a class="font-weight-bold"> {{ x.source_info.lang }}</a></p>
            <!-- Read more button -->
            
        </div>
        <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
        <hr class="my-5">
    
        {% endfor%}
    
    </section>
    <!-- Section: Blog v.3 -->

 

  {% endblock %}