{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="pt-2">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4 text-center">Crypto 24/7</h2>
      <p class="lead">Simply find the latest figures about the crytpo currencies along with articles published on various platforms regarding topic </p>
    </div>
  </div>
    <div class="container mt-3">
      <div class="row">
      <!--- Tabke starte-->
      <table class="table table-striped .table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">24 High</th>
            <th scope="col">24 Low</th>
            <th scope="col">Market Cap</th>
          </tr>
        </thead>
        <tbody >

        {% for key,value in price.DISPLAY.items %}
          <tr>
            <th scope="row">{{ key }}</th>
            <td>{{ value.USD.PRICE }}</td>
            <td>{{ value.USD.HIGHDAY }}</td>
            <td>{{ value.USD.LOWDAY }}</td>
            <td>{{ value.USD.MKTCAP }}</td>
        
          </tr>
          {% endfor %}
        </tbody>
      </table>  
     </div>
      </div>
          
</section>
  
{% endblock %}



 